# Ignore node modules
*/node_modules/

# Ignore logs
*.log
npm-debug.log*

# Ignore environment variables
**/.env

# React build
frontend/build/

# macOS system files
.DS_Store

# VS Code settings (optional)
.vscode/
